.filter {
  cursor:  pointer;
  font-weight: 1.25em;
  font-weight:  bold;
  padding: .5em;
  border-bottom:  2px solid #eee;
  user-select: none;
}

.filter:hover {
}

.filter.selected, .filter.selected:hover {
  color: #1877F2;
  border-bottom:  2px solid #1877F2;
}

.filter.selected::before {
  content: ' ● ';
  color: #1877F2;
}